@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: red;
  --bg-primary: white;
  --text-primary: #222222;
}

body{
  background: var(--bg-primary);
  color: var(--text-primary);
  width: 100%;
  min-height: 100vh;
}

